<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="gestor-clientes">
  <template>
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <h1>Gestor Clientes</h1>
        <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Carga clientes</button>
      </div>
      <div class="row">
        <table class="table table-striped">
          <tbody>
            <template is="dom-repeat" items={{clientes}}>
              <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes(){
          var request = new XMLHttpRequest();
          request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
          request.setRequestHeader("Accept","application/json");
          request.send();
          this.clientes = JSON.parse(request.responseText).value;
          console.log(this.clientes);
        }
/*        anadirCliente = () =>{
          var request = new XMLHttpRequest();
          request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
          request.setRequestHeader("Acept", "application/json");
          request.setRequestHeader("Content-Type", "application/json")
          var nuevoCLiente = {
            "Address": "Obere Str. 57",
            "City": "Berlin",
            "CompanyName": "Alfreds Futterkiste",
            "ContactName": "Maria Anders",
            "ContactTitle": "Sales Representative",
            "Country": "Germany",
            "CustomerID": "ALFKI",
            "Fax": "030-0076545"
          }

          var body = JSON.stringify(nuevoCLiente);

          request.send(body);

          console.log(request.responseText);





    //
    //       return fetch(url, {
    //     method: 'POST', // *GET, POST, PUT, DELETE, etc.
    //     mode: 'cors', // no-cors, cors, *same-origin
    //     cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    //     credentials: 'same-origin', // include, *same-origin, omit
    //     headers: {
    //         'Content-Type': 'application/json',
    //         // 'Content-Type': 'application/x-www-form-urlencoded',
    //     },
    //     redirect: 'follow', // manual, *follow, error
    //     referrer: 'no-referrer', // no-referrer, *client
    //     body: JSON.stringify(data), // body data type must match "Content-Type" header
    // })
    // .then(response => response.json()); // parses JSON response into native Javascript objects
        }
*/
      }


    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
